@import "/src/styles/variables.scss";

.projects__wrapper {
  margin: 32px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  gap: 16px;
  box-sizing: border-box;

  .projects__type {
    font-size: 20px;
  }

  .project__card {
    width: 100%;
    display: flex;

    &:nth-child(2) {
      .card__item {
        animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }
    }

    &:nth-child(3) {
      .card__item {
        animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 0.4s;
      }
    }

    &:nth-child(4) {
      .card__item {
        animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 0.8s;
      }
    }

    &:nth-child(5) {
      .card__item {
        animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 1.3s;
      }
    }

    &:nth-child(6) {
      .card__item {
        animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 1.7s;
      }
    }

    &:nth-child(7) {
      .card__item {
        animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 2.1s;
      }
    }

    &:nth-child(8) {
      .card__item {
        animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 2.4s;
      }
    }
  }

  .project__card--right {
    justify-content: flex-end;
  }

  .card__item {
    width: 100%;
    padding: 16px;
    max-width: 600px;
    min-height: 60px;
    background: #d9ffcf;
    background: $white;
    color: $black;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    border-radius: 12px 12px 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    font-size: 22px;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .card__item-france_ae {
    img {
      width: 100px;
      height: auto;
    }
  }

  .card__item-dessange {
    img {
      width: 80px;
      height: auto;
    }
  }

  .card__item-beaute {
    img {
      width: 80px;
      height: auto;
    }
  }

  .card__item--right {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 12px 12px 12px 0;
  }

  @include media-lg {
    margin: 16px 0;
    padding: 0;
    .project__card {
      justify-content: center;
    }

    .card__item {
      clip-path: none;
      border-radius: 12px;
      font-size: 20px;
    }
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
