@import "/src/styles/variables.scss";

.detail__wrapper {
  margin: 16px auto;
  width: 100%;
  max-width: 1200px;
  min-height: 300px;
  background: $white;
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
  color: $black;

  ul {
    list-style: inherit;
    margin-left: 24px;
  }

  a {
    color: inherit;
  }

  @include media-md {
    padding: 8px;
  }

  .detail__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    text-transform: capitalize;

    a {
      text-decoration: none;
    }

    @include media-md {
      font-size: 20px;
    }
  }

  .detail__body {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .detail__path {
      display: flex;
      align-items: center;
      gap: 16px;

      img {
        width: 40px;
        height: 40px;
      }
    }

    .detail__path-text {
      font-size: 22px;
    }

    .detail__task-header {
      font-size: 22px;
      font-weight: bold;
    }

    .detail__tasks {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-size: 20px;
    }

    @include media-sm {
      .detail__path {
        gap: 8px;

        img {
          width: 20px;
          height: 20px;
        }
      }

      .detail__path-text {
        font-size: 16px;
      }

      .detail__task-header {
        font-size: 20px;
      }

      li {
        font-size: 16px;
      }
    }
  }
}
